/*
@import "catppuccin/mocha.css";
*/

/*
* Catppuccin Mocha palette
*/

@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;
@define-color workspaces #555555;

@define-color text #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 rgba(22, 25, 37, 0.9);
@define-color surface1 #45475a;
@define-color surface2 #585b70;
@define-color surface3 #394161;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9ba3c3;

@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color sapphire #74c7ec;
@define-color sky #89dceb;
@define-color teal #94e2d5;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color peach #fab387;
@define-color maroon #eba0ac;
@define-color red #f38ba8;
@define-color mauve #cba6f7;
@define-color pink #f5c2e7;
@define-color flamingo #f2cdcd;
@define-color rosewater #f5e0dc;

/* =============================== */
/* Universal Styling */
* {
  border: none;
  border-radius: 0;
  font-family: 'Iosevka Nerd Font', monospace;
  font-size: 13px;
  min-height: 0;
}

/* =============================== */


/* =============================== */
/* Bar Styling */
#waybar {
  background: transparent;
  color: @text;
}

/* =============================== */


/* =============================== */
/* Main Modules */
#custom-launcher,
#workspaces,
#window,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#group-settings,
#custom-ip,
#custom-music,
#custom-cava,
#custom-updates,
#custom-notifications,
#custom-power,
#custom-custom,
#custom-cycle_wall {
  background-color: @surface0;
  color: @text;
  border-radius: 16px;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
  margin-top: 10px;
  /*
    margin-bottom: 10px;
*/
  margin-right: 10px;
}


/* =============================== */
/* Launcher Module */
#custom-launcher {
  color: @green;
  padding-left: 5px; /* Reducido padding izquierdo */
}

/* =============================== */

/* Workspaces */
#workspaces {
    padding: 1px;
}

#workspaces * {
  font-size: 13px; /* Reduce el tamaño del texto y los íconos a 13px */
}

#workspaces button {
  color: @mauve;
  border-radius: 100%;
  min-width: 20px;  /* Reduce el ancho mínimo del botón */
  min-height: 30px; /* Reduce la altura mínima del botón */
  padding: 5px 8px; /* Ajusta el padding para que los botones sean más estrechos */
  margin: 3px; /* Reduce los márgenes entre los botones */
  transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.68);
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

#workspaces button.active {
  color: @surface0;
  border-radius: 1rem;
  background: radial-gradient(circle, rgba(63,209,251,1) 0%, rgba(140,90,252,1) 100%);
  background-size: 400% 400%;
  animation: gradient_f 5s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.empty {
  color: @workspaces;
}

#workspaces button:hover {
  background-color: @mauve;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }
  50% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 400% 200%;
  }
}

@keyframes gradient_f_nh {
  0% {
    background-position: 0% 200%;
  }
  100% {
    background-position: 200% 200%;
  }
}
/* =============================== */


/* =============================== */
/* System Monitoring Modules */
/* Updates Module */
#custom-updates {
  color: @sky;
  font-size: 15px;
  margin-left: 10px; /* Reducido margen izquierdo */
  margin-right: 10px;
  padding-left: 10px; /* Reducido padding izquierdo */
  padding-right: 10px;

}

#custom-ip {
  color: @sky;
  background: @base;
  font-size: 16px;
  margin-left: 15px; /* Reducido margen izquierdo */
  margin-right: 10px;
  padding-left: 10px; /* Reducido padding izquierdo */
  padding-right: 10px;
  
 
}

/* =============================== */
/* Clock Module */
#clock {
  color: @peach;
  margin-left: 5px;
}

/* =============================== */


#custom-music.low {
  background: rgb(148, 226, 213);
  background: linear-gradient(52deg, rgba(148, 226, 213, 1) 0%, rgba(137, 220, 235, 1) 19%, rgba(116, 199, 236, 1) 43%, rgba(137, 180, 250, 1) 56%, rgba(180, 190, 254, 1) 80%, rgba(186, 187, 241, 1) 100%);
  background-size: 300% 300%;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
  animation: gradient 15s ease infinite;
  font-weight: bold;
  color: #fff;
}

#custom-music.random {
  background: rgb(148, 226, 213);
  background: radial-gradient(circle, rgba(148, 226, 213, 1) 0%, rgba(156, 227, 191, 1) 21%, rgba(249, 226, 175, 1) 34%, rgba(158, 227, 186, 1) 35%, rgba(163, 227, 169, 1) 59%, rgba(148, 226, 213, 1) 74%, rgba(164, 227, 167, 1) 74%, rgba(166, 227, 161, 1) 100%);
  background-size: 400% 400%;
  animation: gradient_f 4s ease infinite;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
  font-weight: bold;
  color: #fff;
}

#custom-music.critical {
  background: rgb(235, 160, 172);
  background: linear-gradient(52deg, rgba(235, 160, 172, 1) 0%, rgba(243, 139, 168, 1) 30%, rgba(231, 130, 132, 1) 48%, rgba(250, 179, 135, 1) 77%, rgba(249, 226, 175, 1) 100%);
  background-size: 300% 300%;
  animation: gradient 15s cubic-bezier(.55, -0.68, .48, 1.68) infinite;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
  font-weight: bold;
  color: #fff;
}

#custom-music.Playing {
  background: rgb(137, 180, 250);
  background: radial-gradient(circle, rgba(137, 180, 250, 120) 0%, rgba(142, 179, 250, 120) 6%, rgba(148, 226, 213, 1) 14%, rgba(147, 178, 250, 1) 14%, rgba(155, 176, 249, 1) 18%, rgba(245, 194, 231, 1) 28%, rgba(158, 175, 249, 1) 28%, rgba(181, 170, 248, 1) 58%, rgba(205, 214, 244, 1) 69%, rgba(186, 169, 248, 1) 69%, rgba(195, 167, 247, 1) 72%, rgba(137, 220, 235, 1) 73%, rgba(198, 167, 247, 1) 78%, rgba(203, 166, 247, 1) 100%);
  background-size: 400% 400%;
  animation: gradient_f 9s cubic-bezier(.72, .39, .21, 1) infinite;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
  font-weight: bold;
  color: #fff;
}

#custom-music.Paused,
/*#custom-music.Stopped {*/
  /*background: @surface0;*/
/*}*/


/* =============================== */
/* Music/PlayerCTL Module */
#custom-music {
  color: @mauve;
}

/* =============================== */

#custom-cava {
    font-size: 18px;
    background: rgb(148, 226, 213);
    background: radial-gradient(circle, rgba(148, 226, 213, 1) 0%, rgba(156, 227, 191, 1) 21%, rgba(249, 226, 175, 1) 34%, rgba(158, 227, 186, 1) 35%, rgba(163, 227, 169, 1) 59%, rgba(148, 226, 213, 1) 74%, rgba(164, 227, 167, 1) 74%, rgba(166, 227, 161, 1) 100%);
    background-size: 400% 400%;
    animation: gradient_f 4s ease infinite;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
    font-weight: bold;
    color: #fff;

}

/* =============================== */
/* Network Module */
#network {
  color: @blue;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-right: 10px;
  padding-right: 15px;
}

/* =============================== */

/* Módulos en conjunto */

#pulseaudio, #backlight {
  padding: 10px 10px;
  margin-top: -5px;; /* Superpone los módulos */
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 0; /* Para que solo el contenedor tenga los bordes redondeados */
}

#battery {
    margin-top: 0;   
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
#custom-notifications{
    color: @peach;
    margin-top: 0;
    margin-left: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius:0;
}

#workspaces, #custom-launcher, #pulseaudio, #backlight, #battery, #tray{
    margin-left: 10px;
}

/* Ajustes de bordes redondeados */
#pulseaudio {
    color: @mauve;
 }

#backlight {
  color: @teal;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @maroon;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background: @red;
    color: @surface1;
  }
}

/* =============================== */

/* Notifications Module */
#custom-notifications {
  color: @peach;
  /*border-bottom-left-radius: 16px;*/
  /*border-bottom-right-radius: 16px;*/
  
}


/* =============================== */
/* Tray Module */
#tray {
  color: @mauve;
  border-radius: 16px;
  margin-bottom: 10px;
  padding-right: 10px;

}

/* =============================== */


/* =============================== */
/* |       Custom Modules        | */
/* =============================== */
#custom-custom {
  color: @peach;
  padding-right: 1.25rem;
  margin-right: 0px;
}

/* Wallpaper */
#custom-cycle_wall {
  background: linear-gradient(45deg, rgba(245, 194, 231, 1) 0%, rgba(203, 166, 247, 1) 0%, rgba(243, 139, 168, 1) 13%, rgba(235, 160, 172, 1) 26%, rgba(250, 179, 135, 1) 34%, rgba(249, 226, 175, 1) 49%, rgba(166, 227, 161, 1) 65%, rgba(148, 226, 213, 1) 77%, rgba(137, 220, 235, 1) 82%, rgba(116, 199, 236, 1) 88%, rgba(137, 180, 250, 1) 95%);
  background-size: 500% 500%;
  animation: gradient 7s linear infinite;
}

/* Powermenu Module */
#custom-power {
  color: @mauve;
  /* border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 8px; */
  padding-right: 1.20rem;
}

/* =============================== */
