/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #000000FF;
    background-alt: #0A0B0CFF;
    foreground:     #E0CDA5FF;
    selected:       #26CEDFFF;
    active:         #C0CAF5FF;
    urgent:         #334676FF;
}
